body {
    background: rgb(180,180,180);
}

.hexagono {
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #0C0;
    position: relative;
}

.hexagono::before {
  content: "";
  height: 0;
  position: absolute;
  left: -30px;
  border-right: 30px solid #0C0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.hexagono::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 0px;
  right: -30px;
  border-left: 30px solid #0C0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.offset-top {
  margin-top: -25px;
}
